@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

*{
   font-family: "Outfit", sans-serif;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

html.dark {
  color-scheme: dark;
}
